@model Cl_Entities.tbBackup

@{
    ViewBag.Title = "Backup";
}

<ul class="breadcrumb">
    <li><a href="#">Account</a></li>
    <li><a href="#">Painel</a></li>
    <li><a href="#">Backup</a></li>
    <li>Formulario Backup</li>
</ul>

<div class="well well-lg">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">

            @using (Html.BeginForm("Backup", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", target = "_top", onsubmit = "return frmvalidaCampos(this)", language = "JavaScript", name = "frmBackup" }))
            {
                <div class="panel panel-default">

                    <div class="panel-heading" style="background-color: dodgerblue; color: white; font-weight: bolder; text-align: center;">
                        Formulario Backup
                    </div>

                    <div class="panel-body">

                        <div class="form-group" style="float: left; padding-left: 2px;">
                            @Html.HiddenFor(Model => Model.tbBackup_Id)
                            @Html.HiddenFor(Model => Model.tbBackup_IdUser)
                            @Html.HiddenFor(Model => Model.tbBackup_Data)
                        </div>

                        <div class="form-group" style="padding-top: 3px;">
                            <div class="col-md-6">
                                @Html.LabelFor(Model => Model.tbBackup_Servidor, "Nome do servidor")
                                @Html.TextBoxFor(Model => Model.tbBackup_Servidor, new { @class = "form-control", @style = "max-width: 100% !important;", @name = "txtServer", id = "txtServer" })
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(Model => Model.tbBackup_Database, "Nome da Base de dados")
                                @Html.TextBoxFor(Model => Model.tbBackup_Database, new { @class = "form-control", @style = "max-width: 100% !important;", @name = "txtDb", id = "txtDb" })
                            </div>
                        </div>

                        <div class="form-group" style="padding-top: 3px;">
                            <div class="col-md-12">
                                @Html.LabelFor(Model => Model.tbBackup_Diretorio, "Diretorio destino do arquivo")
                                @Html.TextBoxFor(Model => Model.tbBackup_Diretorio, new { @class = "form-control", @style = "max-width: 100% !important;", @name = "txtDir", id = "txtDir" })
                            </div>
                        </div>

                        <div style="float: right !important;">
                            <button type="button" class="btn limpar" value="Cancelar" style="background-color: dodgerblue; color: white;"> <i class="fa fa-eraser"> Cancelar</i></button>
                            <button type="submit" class="btn" value="Confirmar" style="background-color: dodgerblue; color: white;"> <i class="fa fa-save"> Confirmar</i></button>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        function frmvalidaCampos(objForm) {

            if (frmBackup.txtServer.value == '') {
                toastr.warning('Campo em branco, favor preencher', 'Servidor');
                frmBackup.txtServer.focus();
                return (false);
            }

            if (frmBackup.txtDb.value == '') {
                toastr.warning('Campo em branco, favor preencher', 'Base de dados');
                frmBackup.txtDb.focus();
                return (false);
            }

            if (frmBackup.txtDir.value == '') {
                toastr.error('Campo em branco, favor preencher', 'Diretorio');
                frmBackup.txtDir.focus();
                return (false);
            }

            return (true);
        }
</script>

<script>
    $(".limpar").click(function () {
        $("#txtServer").val('');
        $("#txtDb").val('');
        $("#txtDir").val('');
        $("#txtServer").focus();
    });
</script> 